@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Bengali:wght@700&display=swap');

/* font-family: 'Aref Ruqaa', serif; */
@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@700&display=swap');

.HeaderMainDiv {
    font-family: 'Noto Serif Bengali', serif;
}

.nav {
    height: 70px;
    background-color: rgb(0, 46, 46);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

.nav:hover {
    background-color: rgb(0, 27, 27);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.iconName {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}


.icon {
    height: 40px;
    width: 40px;
    background-image: url('../../img/rsdlogo1.png');
    background-size: cover;
    margin-left: 30px;
}

.name {
    margin-left: 30px;
}

.name p {
    margin-top: 20px;
    line-height: 8px;
}

.name .nameP1{
    font-size: 25px;
}
.name p {
    font-size: 15px;
    text-align: center;
}




.forLangAndDarkMode {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

.language {
    height: 45px;
    width: 200px;
    background-color: red;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.english {
    width: 50%;
    border-right: 2px solid rgb(255, 255, 255);
    height: 50%;
}

.english:active {
    background-color: rgba(0, 92, 92, 0.313);
}

.arabic {
    width: 50%;
    height: 50%;
}

.english p{
    text-align: center;
    font-size: 18px;
}

.arabic p {
    font-family: 'Aref Ruqaa', serif;
    text-align: center;
    font-size: 17px;
}

.darkLightMode {
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin-top: 7px;
}

.darkLightMode i {
    cursor: pointer;
}


@media (max-width: 800px) {
    .name .nameP1{
        font-size: 18px;
    }
    .name p {
        font-size: 13px;
    }
    .language {
        display: none;
    }
}